<div class="centered-content">
    <div class="task-manager-container">

<!-- Start of Sidebar Here -->
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Student Information
            </h1>
<!-- Student Info Box -->
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="https://cdn.pixabay.com/photo/2014/11/19/10/52/man-537136_1280.jpg" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Ofelia Mckay</strong>
                                <br>
                                <strong>Admission Number: </strong> <small>234234</small>
                                <br>
                                <strong>Class Name: </strong> <small>2 East</small>
                                <br>
                                <strong>Examination: </strong> <small>Form 2 - CAT 2 - (2019 Term 3)</small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
<!-- Student Report Infomation -->
            <h1 class="title has-text-primary">
                Student Report
            </h1>

            <div class="list-menu">
                <a class="list-menu-item is-active">
                    Remarks & Position
                </a>

                <a class="list-menu-item">
                    Subject Performance
                </a>

                <a class="list-menu-item">
                    Overall Performance
                </a>
            </div>
<!-- Acknowledge Button -->
            <button class="button is-primary has-text-white" routerLink="/new-list">Confirm Receipt of Report</button>

        </div>

<!-- Student Performance Report Section -->
        <div class="task-list-container has-background-light">
            <h1 class="title has-text-primary">
                Student Exam Perfomance
            </h1>
            <div class="area">
                <div class="box">
                    Mean Grade: <strong>C+</strong>
                </div>
            </div>

            <div class="task">
                <div class="columns is-desktop">
                    <div class="column">
                        <article class="message is-info">
                            <div class="message-header">
                                <p>Class Teachers Comments</p>
                            </div>
                            <div class="message-body">
                                You have room for improvement. Work harder on your weak areas
                            </div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-info">
                            <div class="message-header">
                                <p>Principals Comments</p>
                            </div>
                            <div class="message-body">
                                Keep working hard
                            </div>
                        </article>
                    </div>
                </div>

                <div class="columns is-desktop">
                    <div class="column">
                        <article class="message is-primary">
                            <div class="message-header has-text-white">
                                <p>Overal Position</p>
                            </div>
                            <div class="message-body">
                                <h1>Position: <strong>125</strong></h1>
                                <h1>Out Of: <strong>197</strong></h1>
                                <h1>Deviation: <strong>34</strong></h1>
                            </div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="message is-primary">
                            <div class="message-header has-text-white">
                                <p>Stream Position</p>
                            </div>
                            <div class="message-body">
                                <h1>Position: <strong>34</strong></h1>
                                <h1>Out Of: <strong>49</strong></h1>
                                <h1>Deviation: <strong>6</strong></h1>
                            </div>
                        </article>
                    </div>
                </div>

                <div class="columns is-desktop">
                    <div class="column">
                        <article class="message is-primary">
                            <div class="message-header has-text-white">
                                <p>Mean Marks</p>
                            </div>
                            <div class="message-body">
                                <h1>Average Score: <strong>59.0</strong></h1>
                                <h1>Deviation: <strong>2.5</strong></h1>
                            </div>
                        </article>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</div>
